body{
    background-color: rgb(68, 67, 67);
    background-image: url("img/IMG_0156.JPEG");
    background-size:fill;
    background-size: 100%;
    background-attachment:fixed;
}
p{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}
